.addValueButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.addValueButton * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.addValueSpan{
    user-select:"none";
}

.addButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    width: calc(100% - 40px);
    max-width: inherit;
    position:sticky;
    top: 12px;
    z-index: 2;
    border-radius: 50px;
}
.addButton>div:first-child{
  width: 75px;
  height: 75px;
}
.addValueImg{
  width: 75px;
  height: 75px;
}
.blackAddButton{
  composes: addButton;
  background-color: rgb(8,8,8);
  color: rgb(230,230,230);
  box-shadow: 0 0 2px 0 rgba(255,255,255,0.5);
}
.whiteAddButton{
  composes: addButton;
  background: rgb(92,112,190);
  background: linear-gradient(180deg, rgba(92,112,190,0.9) 0%, rgba(120,140,222,0.9) 100%);
  color: white;
  box-shadow: 0 0 2px 0 rgba(255,255,255,0.5);
}
.addValueInput{
  width: calc(100% - 75px);
}